*{
	box-sizing: border-box;
	/*border: 1px solid green;*/
	
}
html{
	text-align: center;
}

body{
	margin: 0px;
	width: 1024px;
	background-color: #ffffff;
	position: relative;
	text-align: center;
	margin-left:auto;
    margin-right:auto;
    /*overflow:hidden;*/

}
img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px
}

.encabezado {

	width: 412.06px;
	height: 125px;
	position: relative;
	margin:50px 0px 50px -206.03px;
	left:50%;
	clear: both;
}
.menu{
	position: sticky;
	margin: 0px 0px 0px 0px;		 
	height: 70px;
	width: 100%;
	background-color: #fbf7f7;
	padding: 0% 0% 0% 0%;
	overflow: visible;

}

.main_menu{

	/*position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px 0% 0% 0%;
	top: 50%;
	height: 70px;*/


}
.main_opc{
	display: inline-block;
	font-size: 1em;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-family: Tahoma;
	background-color: #fbf7f7;
	margin: 0px 44px;
	height: 70px;
	float: left;
	padding-top: 0px;
}
.sub_menu{
	display: none;
	position: relative;
	background-color: #fbf7f7;
	margin:0px 0px;
	list-style: none;
	padding: 0px;
}
.main_opc > a{
	display: inline-block;
	height: 70px;
	padding-top: 25px;
}
.sub_menu > li{
	margin: 0px 0px;
	height: 40px;
	padding-top: 12px;
	z-index: 50 !important;
	position: relative;
}
.ws-images<li{
	z-index: -1;
}
nav>li{
	float: left;
	color: black;
}
.sub_menu > li:hover {
	color: red;
	z-index: 100;
}
.contenido{
	/*position: relative;*/
	overflow:auto;
}
#titulo_pag{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: "BEBAS", Calibri ;
	font-weight: bold;
	font-size: 54px;
	margin: 70px 0px 70px 0px;
}
.slider{
	margin-top: 50px;
	position: relative;
	z-index: -1;
}
#wowslider-container0{
	position: relative;
	z-index: -1;
	
}
#img_nosotras{
	width: 45%;
	height: 500px;
	margin: 0px 50px 100px 0px;
	float: left;
}

#texto_nosotras{
	float: right;
	width: 40%;
	height: 700px;
	margin: 0px 0px 100px 0px;
}

#coleccion_anual{
	width: 40%;
	height: auto;
	margin: 15px 5%;
	float:left;
	background-color: #fbf7f7;
}
.anio_coleccion{
	font-size: 5em;
	font-weight: bolder;
	font-family: Bebas;
	background-color: #fbf7f7;
}
.formulario{
	width: 45%;
	overflow: auto;
	position: relative;
	margin: 30px 5% 20px 0px;	
	float: left;
}

	
}

label input textarea{
	position: relative;
}
label {
    display: inline-block;
    width:30% ;
    text-align: left;
    font-family: bebas;
    margin-right: 20px;
}
input{
	height: 40px;
}
input, textarea { 
    
    width:60%; 
}
textarea {

    vertical-align: top;
    height: 150px;
    resize: vertical;
}

.pregunta{
	margin-bottom: 25px;
}

input[type="submit"]{
	clear: both;
	position: relative;
	width: 100%;
	border: 0px solid black;
	background-color: #FAFAFA;
	letter-spacing: 1em;
	font-weight: bold;
	color: black;
	font-family: 'Comic Sans MS';
	margin-top: 50px;
	border-radius: 10px
}
.show{
	width: 80%;
	margin:20px 10% 10px 10%;
	clear: both;
}
.mini{
	width:  23.5%;
	/*background-color: red;*/
	/*height: 30px;*/
	float: left;
	/*height: 30px*/
}
.mini:hover {
    cursor: pointer;
}
.left{
	margin:20px 1% 10px 0px;
}
.right{
	margin:20px 0px 10px 1%;
}

.center{
	margin:20px 1% 10px 1%;
}

.mapa{
	float: right;
	margin: 30px 0px 20px 5%;
	width: 45%;
}

.main_opc a:hover , input[type="submit"]:hover{
	color: red;
}
.logo{
	width: 40px;
	float: left;
	margin: 30px 5px;
}
.footer{
	width: 200px;
	position: relative;
	margin: 0px 50% 0px -100px;
	left: 50%;
}
.clear{
	clear: both;
	width: 200px;
}
a{
    color:black;
}
a:hover{
	color: red !important;
}
a:link   
{   
 text-decoration:none;
 color: black ;
}   
a:visited{
	color: black;
}
p{
	margin: 0px;
}