*{
	box-sizing: border-box;
	/*border: 1px solid green;*/
}

body{
	margin: 0px;
background-color: #ffffff;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.encabezado {

	width: 412.06px;
	height: 125px;
	
	position: relative;
	margin:100px 0px 100px -206.03px;
	left:50%;
	clear: both;
}
.menu{
	margin: 0px 0px 70px 0px;
	position: relative;
	height: 70px;
	width: 100%;

	background-color: #ffffff;

}

#main_menu{
background-color: #fbf7f7;
	position: relative;
	text-align: center;
	height: 70px;
	width: 100%;	
}
#main_opc{
	display: inline-block;
	font-size: 20px;
	height: 70px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-family: Tahoma;
	padding: 30px 20px;
	margin: 0px 15px;
	background-color: #fbf7f7;
}
#titulo_pag{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: "BEBAS", Calibri ;
	font-weight: bold;
	font-size: 54px;
}

#img_nosotras{
	width: 600px;
	height: 500px;
	/*position: relative;*/
	margin:70px 50px 100px 280px;
	float: left;
}

#texto_nosotras{
	float: right;
	width: 600px;
	height: 500px;
	margin:70px 280px 100px 0px;
}

#coleccion_anual{
width: 600px;
height: 600px;
border: 1px solid green;
}

li:hover{
	color: red;
}

a:link   
{   
 text-decoration:none;
}   
a:visited{
	color: black;
}